{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey there! I'm a 17-year-old with a passion for coding and a love for gaming. My life revolves around the excitement of creating new programs and diving into the latest games.
        </p>
        <p>
          Ever since I wrote my first line of code, I've been hooked on the limitless possibilities of technology. Whether it's building websites, developing apps, or experimenting with new programming languages, I find joy in solving problems and bringing my ideas to life through code.
        </p>
        <p>
          My ultimate goal is to combine my love for coding and gaming into a career, perhaps as a game developer or a software engineer. I'm always learning and pushing myself to improve, whether through online courses, coding challenges, or collaborating with others who share my interests.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
